{% extends "base.html" %} {% import 'macros.html' as macros %}

{% block content %}
  <h1>Create Account</h1>
  <div class="boxed" style=" width:400px; margin-left: 40px;">
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please enter a username:<br>
          {{ form.username(size=80) }}<br>
          {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          Please enter a password:<br>
          {{ form.passwd(size=80) }}<br>
          {% for error in form.passwd.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          Please enter your institution:<br>
          {{ form.institute(size=80) }}<br>
          {% for error in form.institute.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          Please enter your email address:<br>
          {{ form.email_ad(size=80) }}<br>
          {% for error in form.email_ad.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" value="Sign Up"></p>
  </form>
</div>
{% endblock %}