{% extends "bootstrap/base.html" %}

{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<p><font size="+3">Input Form</font></p>
<form method="POST" action="/">
    {#{{ form.csrf_token }}#}
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens='only') }}
{#     {{ form.filename.label }} {{ form.filename(multiple="multiple",size=20) }}<br>
    {{ form.source_detect.label }} {{ form.source_detect(size=20) }}<br>
 #}
    {# {{ wtf.quick_form(form) }}<br> #}

    
    
    <div class="boxed" style=" width:400px; margin-left: 40px;">
    {{ wtf.form_field(form.email) }}
    <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;'/>
    <font size="+3"><u>Data Set Options</u></font><br><br>
    {{ wtf.form_field(form.filename) }}
    {{ wtf.form_field(form.target_name) }}
    {{ wtf.form_field(form.obsdate) }}
    {{ wtf.form_field(form.reffreq) }}
    {{ wtf.form_field(form.spw_choice) }}
    {{ wtf.form_field(form.def_times) }}
    start = hour: {{ form.startTimeH(size=3) }}, minute: {{ form.startTimeM(size=3) }}, second: {{form.startTimeS(size=3) }}<br>
    end = hour: {{ form.endTimeH(size=3) }}, minute: {{ form.endTimeM(size=3) }}, second: {{form.endTimeS(size=3) }}
    <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;'/>
    <font size="+3"><u>Light Curve Time Bins</u></font><br><br>
    {{ wtf.form_field(form.intervalSizeH) }}
    {{ wtf.form_field(form.intervalSizeM) }}
    {{ wtf.form_field(form.intervalSizeS) }}
    <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;'/>
    <font size="+3"><u>Data Product Options</u></font><br><br>
    {{ wtf.form_field(form.lc_scale_unit) }}
    {{ wtf.form_field(form.lc_scale_time) }}
    <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;'/>
    <font size="+3"><u>Variability Analysis Options</u></font><br><br>
    {{ wtf.form_field(form.var_anal) }}
    {{ wtf.form_field(form.power_spec) }} 
    <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;'/>
    <font size="+3"><u>Image/UV Plane Analysis</u></font><br><br>
    <font size="+2">{{ form.runClean }} Options</font><br>
    <font size="+2"><u> (1a) CLEAN Parameters</u></font><br><br>
    {{ wtf.form_field(form.imageSize) }}
    {{ wtf.form_field(form.numberIters) }}
    {{ wtf.form_field(form.cellSize) }}
    {{ wtf.form_field(form.taylorTerms) }}
    {{ wtf.form_field(form.myStokes) }}
    {{ wtf.form_field(form.thre) }}
    {{ wtf.form_field(form.outlierFile) }}
    <font size="+2"><u> (1b) Image Fitting Parameters</u></font><br><br>
    {{ wtf.form_field(form.mask_option)  }}
    {{ wtf.form_field(form.mask_file)  }}
    {{ wtf.form_field(form.targetBox) }}
    {{ wtf.form_field(form.fix_pos) }}
    {{ wtf.form_field(form.do_monte) }}
    {{ wtf.form_field(form.integ_fit) }}
    <br><font size="+2"> AND/OR</font> <br><br>
    <font size="+2"><u> (2) UV Fitting Parameters</u></font><br><br>
    {{ wtf.form_field(form.uv_fit) }}
    {{ wtf.form_field(form.uv_fix) }}
    <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;'/>
    <font size="+3"><u>Object Detection and Selection</u></font><br><br>
    <font size="+2">{{ form.runObj }} Use Aegean Algorithm</font><br>
    {{ wtf.form_field(form.tele) }}
    {{ wtf.form_field(form.lat) }}
    {{ wtf.form_field(form.seed) }}
    {{ wtf.form_field(form.flood) }}
    <hr style='background-color:#000000;border-width:0;color:#000000;height:2px;line-height:0;'/>
    </div>



{#    {% if form.source_detect.data %}
        {{ form.imageSize.data }}#}
{#         {{ form.numberIters.label }} {{ form.numberIters(size=10) }}<br>
        {{ form.cellSize.label }} {{ form.cellSize(size=10) }}<br>
        {{ form.taylorTerms.label }} {{ form.taylorTerms(size=10) }}<br>
        {{ form.myStokes.label }} {{ form.myStokes(size=10) }}<br>
        {{ form.thre.label }} {{ form.thre(size=10) }}<br>
        {{ form.spw_choice.label }} {{ form.spw_choice(size=10) }}<br> #}
{#    {% else %}
        {{ form.imageSize.label }}#}
{#         {{ form.imageSize.label }} {{ form.imageSize(size=10, disabled=True) }}<br>
        {{ form.numberIters.label }} {{ form.numberIters(size=10, disabled=True) }}<br>
        {{ form.cellSize.label }} {{ form.cellSize(size=10, disabled=True) }}<br>
        {{ form.taylorTerms.label }} {{ form.taylorTerms(size=10, disabled=True) }}<br>
        {{ form.myStokes.label }} {{ form.myStokes(size=10, disabled=True) }}<br>
        {{ form.thre.label }} {{ form.thre(size=10, disabled=True) }}<br>
        {{ form.spw_choice.label }} {{ form.spw_choice(size=10, disabled=True) }}<br> #}
{#    {% endif %}#}

<input type="submit" value="Go">

</form>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        jQuery(document).ready(function() {
            $("#source_detect").change(function() {
                if ($("#source_detect").val()) {
                    $('#imageSize').show();
                } else {
                    $('#imageSize').hide();
                }
            });
        });
    </script>

{% endblock %}